.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;

    background: $kColorPink;
    border: 1px solid $kColorPink;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: filter .1s ease;

    font-size: 0;

    /* show text arrow icon even though button font-size is zero */
    .icon {
        font-size: 20px;
        line-height: 1;
        display: inline-block;
        color: #000; /* ensure black arrows */
    }

    svg {
        width: 23px;
        height: 23px;
        fill: #FFF;
    }

    &_prev {
        svg {
            transform: scaleX(-1);
        }
    }

    &:disabled {
        background-color: transparent;
        svg {
            fill: $kColorPink;
        }
        .icon {
            color: $kColorPink;
        }
    }

    &:hover:not(:disabled) {
        filter: brightness(.95);
    }
}